

.leaflet-tooltip {
  background-color: transparent;
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  padding: 0px;
  border: none;
  border-radius: 3px;
  color: transparent;
  white-space: nowrap;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip::before {
	border-color: transparent;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: 0.2s;
}

.leaflet-popup {
	margin-left: -6.5px;
}

.leaflet-popup-content-wrapper {
	background-color: black;
	width: 100%;
}

.leaflet-popup-content-wrapper a {
	font-family: 'myriad-pro-condensed';
	font-size: 25px;
	color: yellow;
	text-decoration: none;
}

.leaflet-popup-content {
	overflow:visible;
	width: 100% !important;
	white-space: nowrap;
}

.leaflet-popup-tip{
	background-color: black;
}
