@import url("https://fonts.cdnfonts.com/css/myriad-pro?styles=947,949,948,20533,946,945,952,953,950,951");
@import url("https://use.typekit.net/noa6bvc.css");

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: #26244a;
}

.leaflet-container img.leaflet-tile {
  outline: 1px solid transparent;
  mix-blend-mode: normal;
}

.leaflet-tooltip {
  background-color: transparent;
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  padding: 0px;
  border: none;
  border-radius: 3px;
  color: transparent;
  white-space: nowrap;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip::before {
  border-color: transparent;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: 0.2s;
}

.leaflet-popup {
  margin-left: -6.5px;
}

.leaflet-popup-content-wrapper {
  width: 100%;
}

.leaflet-popup-content-wrapper a {
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.leaflet-popup-content {
  overflow: visible;
  width: 100% !important;
  white-space: nowrap;
}

.search-container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 16px 10px 10px;
  border-radius: 5px;
  width: 100%;
  margin: 0px;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar input {
  width: 100%;
  font-family: "Myriad Pro", sans-serif;
  font-size: 1.2rem;
  list-style-type: none;
}

.search-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-bar li {
  cursor: pointer;
  margin: 4px 0 4px 2px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 1.2rem;
}

.search-bar li:hover {
  background-color: #e0e0e0;
}
.key-container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  margin: 0px;
  font-family: "Myriad Pro";
  font-size: 1.2rem;
  font-weight: bold;
}

.add-container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: auto;
  position: relative;
  margin: 0px;
}
.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.leaflet-control-custom.add-container {
  position: absolute;
  top: 7%;
  right: 0%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.key-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.key-item img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.leaflet-bottom .leaflet-left {
  display: flex;
  flex-direction: column;
}
.filter-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin: 0px;
  font-family: "Myriad Pro";
  width: 100%;
  font-weight: bold;
}

.filter-title {
  text-align: center;
  font-size: 1.4rem;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: 0;
}
.filter-item {
  align-items: center;
  margin-bottom: 0px;
  font-size: 1.1rem;
}
.patreon-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin: 0px;
  font-family: "Myriad Pro";
  font-size: 1.3rem;
  font-weight: bold;
}
.patreon-item {
  align-items: center;
  margin-bottom: 0px;
}

.tooltip-content {
  white-space: pre-wrap;
}

.title-span {
  text-align: center;
}

.grid-label div {
  margin-left: 3px;
}

.leaflet-control-attribution {
  display: none;
  visibility: hidden;
}

.leaflet-bottom.leaflet-left .leaflet-control {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .leaflet-container {
    height: 100dvh;
  }

  .key-container {
    padding: 4px;
    width: 80%;
    font-size: 0.8rem;
  }

  .key-item {
    margin: 0px;
  }

  .key-item img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .filter-container {
    padding: 4px;
  }

  .filter-title {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0;
  }
  .filter-item {
    align-items: center;
    margin-bottom: 0px;
    font-size: 0.7rem;
  }

  .filter-item input {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
  }
  .patreon-container {
    padding: 4px;
    font-size: 0.7rem;
  }
  .search-container {
    padding: 4px 12px 4px 4px !important;
    width: 100%;
    margin: 0px;
  }

  .search-bar input {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    list-style-type: none;
  }

  .search-bar li {
    margin: 2px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .leaflet-control-zoom-in {
    width: 20px !important;
    height: 20px !important;
  }

  .leaflet-control-zoom-out {
    width: 20px !important;
    height: 20px !important;
  }

  .leaflet-control-zoom-in span {
    display: block;
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }
  .leaflet-control-zoom-out span {
    display: block;
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }
}
