@import url("https://fonts.cdnfonts.com/css/myriad-pro?styles=947,949,948,20533,946,945,952,953,950,951");
@import url("https://use.typekit.net/noa6bvc.css");

.leaflet-container {
	width: 100vw;
	height: 100vh;
}


.map-container {
  width: 100vw;
  height: 100vh;
}

.map-wrapper {
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  background-color: #26244a;
}

.key-container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%; /* Adjust width as needed */
  position: relative; /* Add position relative */
  margin: 0px;
}

/* Key item styles */
.key-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* Key marker styles */
.key-marker {
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  margin-right: 8px; /* Adjust margin as needed */
}

.tooltip-content {
  white-space: pre-wrap;
}

.title-span {
  text-align: center;
}

.grid-label div {
  margin-left: 3px;
}

.leaflet-control-attribution {
  display: none;
  visibility: hidden;
}
